{{> header}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quis sed est suscipit consequuntur autem reiciendis, quidem
  sunt, possimus dicta similique unde! Repellendus consequatur dolorum at minus, similique placeat voluptate.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate excepturi eligendi ab quod nesciunt, dolore tempore
  odit voluptatum nostrum praesentium iure esse, non nemo veniam eaque voluptatem fugit blanditiis ipsa.</p>
{{> footer}}